
<h1 id="greeting"><%= "Welcome to #{@user_page.username}'s Profile"%>
</h1>


<div id="acct_info_and_twitpost">
	<div id="acct_info">
		<h4>Account Info</h4>
		<li>Name: <%= @user_page.name %></li>
		<li>Username: <%= @user_page.username %></li>
		<li>Email: <%= @user_page.email %></li>
	</div>
</div>	
<div id="users_allposts_userpost_container">
	
		<% @posts.each do |post| %>
		<div id="all_posts">
			<h2><%= post.title %></h2>
			<h4><%= post.body %></h4>
			<p>Created At <%= post.created_at %> Author: <%= post.user_id %></p>
		</div>
		<% end %>
</div>

