
<h1 id="greeting"><%= "Welcome, #{@user.username}" %></h1>
<a href="/logout" id="logout">Log Out</a>
<div id="acct_info_and_twitpost">
	<div id="acct_info">
		<h4>Account Info</h4>
		<li>Name: <%= @user.name %></li>
		<li>Username: <%= @user.username %></li>
		<li>Email: <%= @user.email %></li>
		<br>
		<a href="/edit_acct" id="edit_acct">Edit Account</a>
		<a href="/delete_acct" id="delete_acct">Delete Account</a>

	</div>

	<div id="twit_post">
		<h4>!twit !twit</h4>
		<form method="POST" action="/user">
			<input name="title" type="text" placeholder="Title"><br><br>
			<textarea name="body" type="text" placeholder="Body"></textarea><br>
			<button type="submit" id="post_blog" >Post</button>
		</form>
		<a href="/remove_lpost" id="remove_lpost">Remove Last Post</a>
	</div>
</div>


<div id="users_allposts_userpost_container">
	<div id="users_list">
		<h2>Users</h2>
		<% @all_user.each do |user| %>
		<li><a href="/profile/<%= user.id %>" id="/profile/:id"><%= user = user.username %></a></li>
		<% end %>
	</div>

	<div id="current_user_posts">
		<h2>Your Posts</h2>
		<% @posts.each do |post| %>
			<div id="user_posts">
			<h3>Title: <%= post.title %></h3>
			<h3>Body: <%= post.body %></h4>
			<p>Created At <%= post.created_at %> Author: <%= @user.username %></p>
			<a href="/delete_post/<%= post.id %>" id="/delete_post">Delete Post</a>
			</div>

		<% end %>
	</div>

	<div id="all_user_posts">
		<h2>All Posts</h2>
		<% @all_posts.each do |post| %>
			<div id="all_posts">
			<h3>Title: <%= post.title %></h3>
			<h3>Body: <%= post.body %></h4>
			<p>Created At <%= post.created_at %> Author: <%= post.user_id %></p>
			</div>
		<% end %>
	</div>
</div>
